.carousel {
  .middle-slide {
    height: 50vh;
    width: 80%;
    background: gray;
    margin: auto;
    -webkit-box-shadow: 0px 8px 15px 5px #1a5b54;
    box-shadow: 0px 8px 15px 5px #1a5b54;
    border: 1px solid #147886;
  }
}
