@import "../css/global/variables";

.homepage {
  height: 100vh;

  .intro {
    padding: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
    padding-top: 4px;
  }

  h1,
  p {
    background: linear-gradient(
      92.58deg,
      #6cf6ff -14.74%,
      #6affdb 31.32%,
      #6ac9ff 86.91%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

@media only screen and (min-width: 600px) {
  .homepage {
    .intro {
      position: fixed;
      left: 0;
      right: 0;
      top: 0px;
    }
    h1 {
      font-size: 2rem;
      text-align: center;
      padding-top: 2rem;
    }

    p {
      font-size: 1.5rem;
      padding-top: 0.4rem;
      text-align: center;
    }
  }
}

.canvas-wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  // Change to -1 to prevent controls
  z-index: -1;
  background: $background-color;

  canvas {
    top: 0;
    left: 0;
    outline: none;
  }
}
